*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
font-family: 'Overpass', sans-serif;
}



/* Beliver Section Styles */

.believe-header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    margin: 0px 0px 100px 0px;
}

.believer-section{
  padding-top: 250px;
    margin: 0px 100px;
 text-align: right;
 padding-right: 100px;
}

.believer-section h3{
    font-size: 30px;
    padding-bottom: 20px;
}

.believer-section p{
    padding-bottom: 20px;
}

.believer-btn{
    color: white;
    background-color: rgb(28, 28, 28);
    padding: 15px;
    font-weight: 700;
}

/* Failure Section Styles */

.failure-section{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    padding: 0px 200px;
   margin-top: 150px;
}

.failure-description{
    text-align: center;
    width: 300px;
    padding-top: 200px ;
}

/* My Plan Section Styles */

.plan-section{
    display: flex;
    gap: 150px;
justify-content: center;
text-align: center;
margin-bottom: 100px;
}

.plan-section h5{
    font-size: 25px;
    font-weight: 700;
    margin: 15px;
}

.plan-section p{
    font-size: 20px;
}


/* Gradient Section Styles */

.gradient-sections{
    padding: 100px;
    margin: 100px;
    text-align: left;
    background-image: linear-gradient(to right, rgba(47, 0, 255, 0.597), rgba(255,0,0,0)), url(../images/watch.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Footer Section Styles */

.footer-section{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 100px;
}
.future-icon{
    width: 500px;
}

.future-icon a{
    padding: 20px;
}
